<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E.S Mukingi: About us</title>
    <link rel="shortcut icon" href="../assets/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="styles-for-pages.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="preloader">
        <div class="loaderWrapper">
            <img src="../assets/preloader.png" alt="preloader">
            <p>Please wait...</p>
        </div>
    </div>
    <header>
        <nav>
            <a href="/"><img src="../assets/header-logo.png" alt="logo" class="logo"/></a>
            <div class="nav-links">
               <div class="hamburger"> 
                    <img src="../assets/hamburger.svg" alt="hamburger"/>
                </div>
                <ul class="menu">
                    <a href="/"><li><i class="fa fa-home"></i>&nbsp;Home</li></a>
                    <a href="About.html"><li><i class="fa fa-users"></i>&nbsp;About</li></a>
                    <a href="Blog.html"><li><i class="fa fa-clone"></i>&nbsp;Blog</li></a>
                    <a href="Library.html"><li><i class="fa fa-graduation-cap"></i>&nbsp;Library</li></a>
                    <a href="Contact.html"><li><i class="fa fa-phone"></i>Contact</li></a>
                </ul>
            </div>

        </nav>
        <div class="carousel">
            <div class="header-title">
                <h1>About /</h1>
            </div>
            <div class="carousel-container">
                <div class="carousel-img-1">
                </div>
                <div class="carousel-img-2">
                </div>
                <div class="carousel-img-3">
                </div>
                <div class="carousel-img-1">
                </div>
            </div>
        </div>
    </header>

    <section class="about">
    
        <h1>Ecole Secondaire De Mukingi</h1>
    
        <div class="about-introduction">
            <div class="headMaster">
                <img src="../assets/headMaster.JPG" alt="headMaster" class="Master-profile"/>
                <span>Head master of E.S. Mukingi</span>
            </div>
    
            <div class="intro-paragraph">
        
                <p>You are mostly welcomed to our school</p>
                <p>Any time we are pleasured to welcome any one becouse we do know that it is the future we are building and hence that we can't loose to see people approaching their beeter future by our support.</p>
                <br/>
                <p>this is the best choice you are making. Some have passed in front of our eyes and others have experienced the benefit and uniqueness of our school.</p>
                <br/>
                <p>In that way, we only get chance to have testimonials of those who passed here. now Its your time to come and notice your own testimony, and your own history of how you have made a great choice of our school.</p>
                <br/>
                <p>We are open for you, just don't hestate, let's make a better future, today.</p>
                    
            </div>
    
        </div>
    
    
      </section>
      <section class="testmony-from-persons" id="testimanials">
          <div>
              <h1>Our Testimony</h1>
              <span>
                  <img src="../assets/testmony-avatar.JPG" class="testProfile">
                  <span><div>
                    <h5>Miracle code</h5>
                    <p>New York. US</p></div>
                      <div>
                        <div class="stars">
                            <div class="star"><img src="../assets/star_full.png" alt=""></i></div>
                            <div class="star"><img src="../assets/star_full.png" alt=""></div>
                            <div class="star"><img src="../assets/star_full.png" alt=""></div>
                            <div class="star"><img src="../assets/star_full.png" alt=""></div>
                            <div class="star"><img src="../assets/star_half.png" alt=""></div>
                            <div><font color="white">4.8</font><font color="gray">/5.0</font></div>
                        </div>
                        
                    </div>
                  </span>
              </span>
          </div>
          <div class="testmonyContent">
              <h2><i>"E.S Mukingi is a great school in all aspect, I have experienced that it is when I got at a situation that I found myself the first. that the moment I felt proud of this school, I assure you that you will be if you choose this school for the better future."</i></h2>
              
          </div>
      </section>

        <section class="testimony">
            
            <div class="video-news">
                <div class="video">
                    <iframe src="https://www.youtube.com/embed/1xrVCQ8IblE" title="Ecole Secondaire de Mukingi Reahersal 2016 II" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <div>
                        <h4 style="margin-top: 1.3rem;">Teachers' Testmonial</h4>
                        <p class="v-information">We are testified by teacher who have experienced the ability and work at our school, uniqueness, Displine & intimidation for excellence.</p>
                        <p class="time">
                            4 apir 
                        </p>
                    </div>
                    <hr/>
                </div>
            
                
                <div class="video">
                    
                    <iframe src="https://www.youtube.com/embed/SfI2TNW79qI?si=Oze0YH0uTPjliek0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <div>
                        <h4 style="margin-top: 1.3rem;">Students' Testmonial</h4>
                        <p class="v-information">As culture is one of our priorities, here we have testimony from students who passed in hands about 2016, and they did experienced that as it is visible to anyone watching it.</p>
                        <p class="time">
                            4 apir 
                        </p></div>
                        <hr/>
                    </div>
            
            </div>
            </section>
        
            <section class="adminstration">
                <h1>Adminstration</h1>
                <div class="card-container">
                    <div class="one-adminstration">
                        <div class="one-adminstration-details">
                            <ul><h6>Head Master</h6>
                                <li class="name">NSHIMYUMUREMYI Jerome</li>
                                <li>E-mail: ............@gmail.com</li>
                                <li>Tel: 07888.....</li>
                            </ul>
                        </div>
                        <img src="../assets/Master-profile.JPG"/>
                    </div>
                    <div class="one-adminstration">
                        <div class="one-adminstration-details">
                            <ul><h6>Director of studies</h6>
                                <li class="name">NDAYISABA Edison</li>
                                <li>E-mail: ............@gmail.com</li>
                                <li>Tel: 07888.....</li>
                            </ul>
                        </div>
                        <img src="../assets/DOS-profile.JPG"/>
                    </div>
                    <div class="one-adminstration">
                        <div class="one-adminstration-details">
                            <ul><h6>Director of Discipline</h6>
                                <li class="name">NSHIMIYE Isaac</li>
                                <li>E-mail: nshimiyeisaac123@gmail.com</li>
                                <li>Tel: 07888.....</li>
                            </ul>
                        </div>
                        <img src="../assets/DOD-profile.jpg"/>
                    </div>
                    <div class="one-adminstration">
                        <div class="one-adminstration-details">
                            <ul><h6>Bursar</h6>
                                <li class="name">MUKANTAGANDA Sophie</li>
                                <li>E-mail: ............@gmail.com</li>
                                <li>Tel: 07888.....</li>
                            </ul>
                        </div>
                        <img src="../assets/Bursar-profile.jpg"/>
                    </div>
                    <div class="one-adminstration">
                        <div class="one-adminstration-details">
                            <ul><h6>Cashier</h6>
                                <li class="name">N&nbsp;&nbsp;Angelique</li>
                                <li>E-mail: ............@gmail.com</li>
                                <li>Tel: 07888.....</li>
                            </ul>
                        </div>
                        <img src="../assets/Cashier-profile.jpg"/>
                    </div>
                </div>
            </section>
    
        

    
    <footer id="Footer">
        <div class="img-footer">
             <div>
                     
                 <h1>Mukingi</h1>
             </div>
         </div>
         <div class="footer-navigation">
                 
             <a href="Library.html"><ul>
                 <li>Top Courses</li>
                 <li>Computer Science</li>
                 <li>Mathematics</li>
                 <li>Economics</li>
                 <li>Languages</li>
                 <li>O'level education</li>
                 <li>Ethical education</li>
             </ul></a>
             <a href="Contact.html"><ul class="right">
                 <li>Quick Links</li>
                 <li>Facebook</li>
                 <li>Twitter</li>
                 <li>Instagram</li>
                 <li>Whatsapp</li>
             </ul></a>
             <a href="About.html"><ul>
                 <li>Best supported by:</li>
                 <li>Professional Teachers</li>
                 <li>Quality Education</li>
                 <li>Always on time</li>
                 <li>Passion</li>
             </ul></a>
             <ul>
         </div>
         <div class="footer-copyright">
             <p>&copy;2024 E.S. Mukingi. All rights reserved by <a href="http://github.com/miracleibanze"><u>IBANZE Miracle</u></a></p>
        </div>
     </footer>


    <script src="script-for-pages.js"></script>
</body>
</html>