<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E.S Mukingi: About us</title>
    <link rel="shortcut icon" href="./../assets/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="./../assets/css/all.min.css">
    <link rel="stylesheet" href="./../assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="./../style.css">
    <link rel="stylesheet" href="./styles-for-pages.css">
</head>
<body>
    <header>
        <nav>
            <a href="/"><img src="./../assets/header-logo.png" alt="logo" class="logo"></a>
            <div class="nav-links">
               <div class="hamburger"> 
                    <img src="./../assets/hamburger.svg" alt="hamburger">
                </div>
                <ul class="menu">
                    <a href="/"><li><i class="fa fa-home"></i>&nbsp;Home</li></a>
                    <a href="./About.html"><li><i class="fa fa-users"></i>&nbsp;About</li></a>
                    <a href="./Blog.html"><li><i class="fa fa-clone"></i>&nbsp;Blog</li></a>
                    <a href="./Courses.html"><li><i class="fa fa-graduation-cap"></i>&nbsp;Courses</li></a>
                    <a href="./Contact.html"><li><i class="fa fa-phone"></i>Contact</li></a>
                </ul>
            </div>

        </nav>
    </header>



    <script src="./script-for-pages.js"></script>
</body>
</html>