<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E.S Mukingi: Blogs on timeline</title>
    <link rel="shortcut icon" href="../assets/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="styles-for-pages.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="preloader">
        <div class="loaderWrapper">
            <div class="img"></div>
            <p>Please wait...</p>
        </div>
    </div>
    <header>
        <nav>
            <a href="/index.html"><img src="../assets/header-logo.png" alt="logo" class="logo"></a>
            <div class="nav-links">
               <div class="hamburger"> 
                    <img src="../assets/hamburger.svg" alt="hamburger">
                </div>
                <ul class="menu">
                    <a href="/index.html"><li><i class="fa fa-home"></i>&nbsp;Home</li></a>
                    <a href="About.html"><li><i class="fa fa-users"></i>&nbsp;About</li></a>
                    <a href="Blog.html"><li><i class="fa fa-clone"></i>&nbsp;Blog</li></a>
                    <a href="Library.html"><li><i class="fa fa-graduation-cap"></i>&nbsp;Library</li></a>
                    <a href="Contact.html"><li><i class="fa fa-phone"></i>Contact</li></a>
                </ul>
            </div>

        </nav>
        <div class="carousel">
            <div class="header-title">
                <h1>Blogs /</h1>
            </div>
            <div class="carousel-container">
                <div class="carousel-img-1">
                </div>
                <div class="carousel-img-2">
                </div>
                <div class="carousel-img-3">
                </div>
                <div class="carousel-img-1">
                </div>
            </div>
        </div>
    </header>


    
<section class="Blog-news">

    <div class="news-header">
        <h2>POSTS, LATEST NEWS & ANNOUNCEMENTS</h2>

        <p>Our School is very Vibrant and there's always a lot of things happening inside.</p>

    </div>
    
    <div class="News-container">
        <div class="news-wrapper">
            
    <div class="one-day-news">
        <div class="point"></div>
        <div class="news-card">
                
            <div>
                <P><i class="fa-solid fa-calendar-days"></i>
                    14<sup>th</sup> November, 2024
                </P>
            </div><u><h5 style="margin-top:2 rem">Parental meeting</h5></u>
            <div class="news-photo">
                <img src="../assets/headMaster.JPG" alt="">
            </div>
            <p>
                In this parental meeting on 14<sup>th</sup> November, 2024, School headMaster anounced that who ever student who will not come below a half of conduct marks, he/ she won't have another chance of staung in this school. Along with other decisions acording to finances, living health of students and other updates,
            </p>
            <p>For more information contact us</p>
            <a href="Contact.html#contact">email or telephone</a>
            <a href="Contact.html#contact"><button>Comment</button></a>
        </div>
    </div>

        </div>
    <div class="news-wrapper">
        
    <div class="one-day-news">
        <div class="point"></div>
        <div class="news-card">
            <div>
                <P><i class="fa-solid fa-calendar-days"></i>
                    08<sup>th</sup> October, 2024
                </P>
            </div>
            <u><h5 style="margin-top:2 rem">Creative Students</h5></u>
            <div class="news-photo">
                <img src="../assets/school-boys.JPG" alt="">
            </div>
            <p>Some students in creative and innovation club has shown their skills and cooperated with SBC ('students Bussines Club) to make a soap and some foods that are found in school canteen. this is significant stage in innovativity in students found in this school.</p>
            <p>These students says that it is their skills they are developing with help of school which provides better environment for their opinion, they can achieve more in the out side world.</p>
            <a href="Contact.html#contact"><button>Comment</button></a>
        </div>
    </div>

    </div>
    
    <div class="news-wrapper">
        
    <div class="one-day-news">
        <div class="point"></div>
        <div class="news-card">
            <div>
                <P><i class="fa-solid fa-calendar-days"></i>
                    13<sup>th</sup> january, 2023
                </P>
            </div>
            <u><h5 style="margin-top:2 rem">Talk with elders</h5></u>
            <div class="news-photo">
                <img src="../assets/students-talk.jpg" alt="">
            </div>
            <p>Students got an explaination about 1994 jenocide against tutsi, advises on prevention of ideology and how can build a better future starting on history of Rwanda.</p>
            <p>Speech was delivered by Mr. NTURO Chaste, who was a teacher of history of citizenship in ordinary level and general studies and communication skills in advanced level.</p>
            <a href="Contact.html#contact"><button>Comment</button></a>
        </div>
    </div>

    </div>
</div>

</section>


  

    
<footer id="Footer">
    <div class="img-footer">
         <div>
                 
             <h1>Mukingi</h1>
         </div>
     </div>
     <div class="footer-navigation">
             
         <a href="Library.html"><ul>
             <li>Top Courses</li>
             <li>Computer Science</li>
             <li>Mathematics</li>
             <li>Economics</li>
             <li>Languages</li>
             <li>O'level education</li>
             <li>Ethical education</li>
         </ul></a>
         <a href="Contact.html"><ul class="right">
             <li>Quick Links</li>
             <li>Facebook</li>
             <li>Twitter</li>
             <li>Instagram</li>
             <li>Whatsapp</li>
         </ul></a>
         <a href="About.html"><ul>
             <li>Best supported by:</li>
             <li>Professional Teachers</li>
             <li>Quality Education</li>
             <li>Always on time</li>
             <li>Passion</li>
         </ul></a>
         <ul>
     </div>
     <div class="footer-copyright">
         <p>&copy;2024 E.S. Mukingi. All rights reserved by <a href="http://github.com/miracleibanze"><u>IBANZE Miracle</u></a></p>
    </div>
 </footer>

    <script src="script-for-pages.js"></script>
</body>
</html>